<ion-content>

  <div class="content">

    <div class="header">
      <img src="assets/svg/text.svg">
    </div>

    <div class="input">
      <ion-item lines="none">
        <ion-label>
          <ion-icon name="person-outline"></ion-icon>
        </ion-label>
        <ion-input placeholder="Usuário" (ionInput)="assign($event)"></ion-input>
      </ion-item>
    </div>

    <ion-button color="primary" class="enter" (click)="navigate()" [disabled]="name? false : true">
      Acessar
    </ion-button>

    <ion-item class="textarea" lines="none">
      <ion-textarea readonly rows="6" cols="20"
        value="Ao acessar o aplicativo journaling my journey você aceita a nossa política de salvamento automático de dados. Nenhum dado é compartilhado externamente e todos os dados coletados são usados para fins puramente analíticos.">
      </ion-textarea>
    </ion-item>

  </div>

</ion-content>