<ion-content>

  <div class="content">

    <div class="header">
      <img src="assets/svg/text.svg">
    </div>

    <div class="input">
      <ion-item lines="none">
        <ion-label>
          <ion-icon name="person-outline"></ion-icon>
        </ion-label>
        <ion-input placeholder="Usuário" (ionInput)="assign($event)"></ion-input>
      </ion-item>
    </div>

    <ion-button color="primary" class="enter" (click)="navigate()" [disabled]="name? false : true">
      Acessar
    </ion-button>

  </div>

</ion-content>