<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title slot="start"> Criar nova anotação </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">

    <div class="input">
      <ion-item lines="none">
        <ion-input placeholder="Título" (ionInput)="title = $event.target.value"></ion-input>
      </ion-item>
    </div>

    <div class="input">
      <ion-item class="textarea" lines="none">
        <ion-textarea rows="10" cols="20" placeholder="Minha anotação..."
          (ionInput)="description = $event.target.value">
        </ion-textarea>
      </ion-item>
    </div>

    <div class="buttons">
      <ion-button color="danger" class="enter" (click)="cancel()">
        Cancelar
      </ion-button>
      <ion-button color="primary" class="enter" (click)="save()" [disabled]="!title || !description">
        Salvar
      </ion-button>
    </div>

  </div>
</ion-content>